# copy to ~/.ssh/config
# Fill in HostName, IdentityFile, and User (If needed)
# https://www.digitalocean.com/community/tutorials/how-to-configure-custom-connection-options-for-your-ssh-client

# github example
Host github.com
	ControlMaster auto
	ControlPersist 120
  HostName ssh.github.com
  User Jon
  IdentityFile ~/.ssh/id_rsa
  Port 443

Host gitlab.com
  HostName 
  IdentityFile
  User


# Default for all connections
Host *
	# Always use SSH2.
	Protocol 2

	# Use a shared channel for all sessions to the same host,
	# instead of always opening a new one. This leads to much
	# quicker connection times.
	ControlMaster auto
  ControlPath ~/.ssh/multiplex/%r@%h:%p
	ControlPersist 1

	# also this stuff
	TCPKeepAlive yes
	ServerAliveInterval 20
  ServerAliveCountMax 100
