[alias]
	c = commit -am
	fpush = push --force
	s = status
	sclone = clone --depth=1
	amend = commit --amend --all
	undocommit = reset HEAD~
	hreset = reset --hard
	co = checkout
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	cherrypick = cherry-pick
	cherry = cherry-pick
	cp = cherry-pick
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	reup = rebase-update # depot_tools specific
	git = !exec git

[core]
	precomposeUnicode = true
	autocrlf = false
        pager = delta --plus-color="#012800" --minus-color="#340001" 
     
[interactive]
      diffFilter = delta --color-only

# git mergetool
[merge]
	conflictstyle = diff3
	renameLimit = 0

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"

# correct typos
[help]
	autocorrect = 1

[fetch]
	prune = true
      
# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current
	followTags = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[diff]
	compactionHeuristic = true
	# Show blocks of moved text of at least 20 alphanumeric characters differently than adds/deletes
	# https://blog.github.com/2018-04-05-git-217-released/
	colorMoved = zebra

[stash]
	showPatch = true

[log]
	date = relative
	
[commit]
	gpgsign = true
	# https://help.github.com/articles/about-gpg/
	# https://git-scm.com/docs/git-config#git-config-commitgpgSign
	# https://help.github.com/articles/signing-commits-using-gpg/
	# https://github.com/pstadler/keybase-gpg-github
[gpg]
	program = /usr/local/MacGPG2/bin/gpg

[include]
	path = ~/.gitconfig_local
	# private credential file for username, email, and signingkey
	# e.g.
	# [user]
	# name =
	# email =
	# signingkey =
